@font-face {
    font-family: "Super Caramel";
    src: url("../font/SuperCaramel.woff2") format("woff2"),
        url("../font/SuperCaramel.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Century Gothic';
    src: url('../font/CenturyGothic-Bold.woff2') format('woff2'),
        url('../font/CenturyGothic-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'century_gothic_paneuropeanXBd';
    src: url('../font/centurygothicpaneuropeanextrabold-webfont.woff2') format('woff2'), url('../font/centurygothicpaneuropeanextrabold-webfont.woff') format('woff'), url('../font/centurygothicpaneuropeanextrabold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.exblod {
    font-family: 'century_gothic_paneuropeanXBd';
}

h1,
h2,
h3 {
    /*    font-family: 'Super Caramel';*/
    font-family: "Super Caramel";
}

body {
    font-family: 'Century Gothic';
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
}

p {
    font-family: 'Century Gothic';
    line-height: normal;
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
}

ul {
    font-family: 'Century Gothic';
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
}

.error-message-cancel {
    color: #e6193b !important;
    font-size: 15px !important;
    margin: 4px 0px 0px 6px !important;
    text-align: left !important;
}

.toaster {
    background-color: #ebfbee;
    width: 380px;
    border-radius: 8px;
    box-shadow: -1px 2px 4px gray;
    z-index: 10000;
    color: #2c9d45;
    position: fixed;
    right: 10px;
    top: 10px;
    overflow: hidden;
    opacity: 0;
    transform: translateX(100%);
    animation: slideIn 0.5s ease-out forwards;

    .timerline {
        width: 100%;
        height: 8px;
        transition: width 0.5s linear;
    }

    .inner-toaster {
        padding: 12px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .toaster-success {
        font-weight: 600;
        margin-bottom: 0px;
    }

    .toaster-text {
        font-size: 16px !important;
        margin-bottom: 0px;
    }

    .toaster-cross {
        cursor: pointer;
    }

    &.hide {
        animation: slideOut 0.4s ease-in forwards;
    }
}

@keyframes slideIn {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideOut {
    to {
        opacity: 0;
        transform: translateX(100%);
    }
}

.sugarFreeBox {
    padding: 20px;
    border: 1.5px solid #000;
    border-radius: 20px;
    margin-top: 10px;
    box-shadow: 5px 5px 0px 0px #002613FF;
}

.show {
    display: block !important;
}

.hide {
    display: none;
}

.disflex {
    display: flex;
    align-items: center;
    gap: 5px;
}

.inner-option {
    border-radius: 20px;
    border: 1px solid #000;
    padding: 20px 20px 25px;
    cursor: pointer;
}

.top-header {
    background: #E6193C;
    font-weight: 500;
    font-size: 13px;
    word-spacing: 3px;
}

.top-header strong {
    -webkit-text-stroke: 0px black;
}

b,
strong {
    font-weight: bolder;
    font-weight: 900;
    -webkit-text-stroke: 0.5px black;
}

.sticky-top {
    background: #1EB9F0;
}

.logo img {
    width: 140px;
}

.header .shop-btn {
    background: none;
    border: 1px solid #ffeb00;
    border-radius: 20px;
    color: #000000;
    font-size: 12px;
    padding: 4px 12px 4px 12px;
    margin: 0px 21px 0px 0px;
    background: #ffeb00;
    text-decoration: none;
}

.header .shop-btn:hover {
    background: #fff;
    color: #000;
    border: 1px solid #fff;
}

.acc {
    color: #ffffff;
    text-decoration: none;
    font-weight: 900;
    font-size: 16px;
}

.acc:hover {
    color: #000;
}

.icon-cart {
    margin: 0px 0px 0px 10px;
    max-height: 36px;
    max-width: 36px;
    color: #000;
}

.banner {
    background-color: #FFEB00;
}

.banner .start .btn {
    margin-bottom: 0px !important;
}

.main img {
    width: 100%;
}

.star label {
    color: #000;
    font-size: 24px;
}

.main-head {
    font-size: 18px;
    margin: 7px 0px 0px 9px;
}

.main-head b {
    color: #000;
}

.mainsec h2 {
    font-size: 48px;
    letter-spacing: 0px;
    margin-bottom: 0px;
    text-transform: uppercase;
}

.mainsec h2 span {
    color: #E6193C;
}

.mainsec button {
    background: #E6193C;
    color: white;
    border: 2px solid #FFEB00;
    box-shadow: 2px 4px 0px 2px #FFEB00;
    border-radius: 50px;
    padding: 8px 17px 7px 17px;
    font-weight: 500;
}

.main-last li svg {
    width: 20px;
    color: #000;
    margin: -2px 7px 0px 0px;
}

.banner {
    padding: 48px 0px 48px 0px;
}

.banner .star {
    margin-bottom: -2px;
}

.banner .star i {
    font-size: 14px;
}

.second li img {
    width: 148px;
    margin-top: 19px;
}

.second-2 li img {
    width: 215px;
    margin-top: 19px;
}

.second-sec {
    padding: 80px 0;
}

.third img {
    width: 100%;
    border-radius: 20px;
}

.third h4 {
    color: #000;
    font-size: 36px;
    font-weight: 700;
}

.third p {
    font-size: 19px;
}

.second-ul li img {
    width: 70px;
    filter: brightness(0.5);
}

.second-ul li h4 {
    font-size: 25px;
    font-weight: 600;
}

.second-ul li p {
    font-size: 17px;
}

.transform {
    padding: 80px 0;
}

.lei {
    margin-left: -10px;
}

.travel-prag {
    font-size: 28px !important;
    font-weight: 900;
    letter-spacing: 5px;
}

.transform h3 {
    font-size: 38px;
    text-transform: uppercase;
}

.trusimage img {
    height: 100% !important;
    max-width: 100% !important;
}

.list-manage-right li {
    text-align: left;
}

.list-manage-right svg {
    width: 20px;
}

.list-manage-right .drole {
    width: 200px;
}

.transform .thumbs-info {
    margin-bottom: 40px;
}

.transform .thumbs-info img {
    width: 25% !important;
    margin-bottom: 20px;
    filter: brightness(0.5);
}

.transform .thumbs-info h4 {
    font-size: 22px;
}

.leaves {
    background-color: #FFEB00;
    padding: 60px 0px 60px 0px;
}

.leaves h3 {
    font-size: 38px;
    text-transform: uppercase;
}

.forth-ul li h2 {
    font-size: 52px;
    font-style: italic;
    color: #000;
}

.forth-ul li p {
    font-size: 18px;
    color: black;
}

.forth button {
    font-size: 23px;
    padding: 11px 0px 11px 0px;
    color: white;
    background: #000;
    border-radius: 10px;
    width: 100%;
}

.forth img {
    width: 100%;
    border-radius: 20px;
}

.for-last li img {
    width: 200px;
}

.for-last li span svg {
    margin: -3px 3px 0px 0px;
    width: 19px;
    color: #000;
}

.for-last li {
    text-align: justify;
    margin: 0px 0px 0px 43px;
}

.for-last li span {
    font-size: 15px;
}

.fifth-last li svg {
    height: 100%;
    width: 26px;
    color: #000;
    margin: 0px 12px 0px 0px;
}

.fifth-last li {
    margin-bottom: 6px;
}

.faq-container {
    margin: 50px auto;
}

.faq {
    border-bottom: 1px solid black;
}

.faq input {
    display: none;
}

.faq label {
    display: flex;
    padding: 16px 0px 16px 0px;
    cursor: pointer;
    font-weight: 800;
    font-size: 18px;
}

.faq .answer {
    max-height: 0;
    overflow: hidden;
    padding: 0 15px;
    background: #fff;
    transition: max-height 0.3s ease;
}

.faq input:checked~.answer {
    max-height: 420px;
    padding: 0px;
}

.faq .icon::before {
    content: '+';
    font-size: 19px;
    transition: transform 0.3s;
    border: 2px solid #5b5454;
    border-radius: 50px;
    display: flex;
    width: 25px;
    height: 25px;
    align-items: center;
    justify-content: center;
    line-height: normal;
    padding-bottom: 4px;
    margin-left: 20px;
}

.faq input:checked+label .icon::before {
    content: '+';
}

/*Slider*/
.swiper-button-next:after,
.swiper-container-rtl .swiper-button-prev:after {
    content: 'next';
    font-size: 20px !important;
    color: #000 !important;
    font-weight: 900;
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
    right: 10px;
    left: auto;
    background: #fff;
    border-radius: 69px !important;
    width: 40px !important;
    height: 40px !important;
}

.swiper-button-prev:after,
.swiper-container-rtl .swiper-button-next:after {
    content: 'prev';
    font-size: 20px !important;
    color: #000 !important;
    font-weight: 900;
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
    left: 10px;
    right: auto;
    background: #fff;
    border-radius: 69px !important;
    width: 40px !important;
    height: 40px !important;
}

.product-thumbs .swiper-slide {
    padding: 0px 5px;
}

/*slider*/
/*Offer-pages*/
.offerpage {
    padding: 80px 0;
}

.mounth-tabs .btn-group .btn {
    font-weight: 900;
    font-size: 26px;
}

.mounth-tabs .btn-check:checked+.btn,
.mounth-tabs .btn.active,
.mounth-tabs .btn.show,
.mounth-tabs .btn:first-child:active,
:not(.btn-check)+.btn:active {
    color: var(--bs-btn-active-color);
    background-color: #694191;
    border-color: #000;
}

.mounth-tabs .btn-outline-primary {
    color: #000;
    border-color: #000;
}

.mounth-tabs .btn-check+.btn:hover {
    background-color: #694191;
    border-color: #000;
    color: #fff;
}

.offers-label p {
    margin-bottom: 0px;
    background: #e9d8fa;
    text-align: center;
    font-weight: 900;
    padding: 10px 10px;
    border-radius: 8px;
    margin-top: 20px;
    font-size: 20px;
    cursor: pointer;
}

.offerpage h3 {
    font-size: 38px;
    text-transform: uppercase;
}

.choseheadong {
    margin-bottom: 40px !important;
}

.offerpage .star {
    margin-bottom: -2px;
}

.offerpage .star i {
    font-size: 14px;
}

.offer-tabs h3 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 28px;
}

.selectcol label {
    background: #ffffff;
    width: 100%;
    display: block;
    min-height: 54px;
    display: flex;
    line-height: normal;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    font-weight: 700;
    cursor: pointer;
    text-align: center;
    text-transform: capitalize;
    font-size: 19px;
}

.selectcol input[type="radio"] {
    display: none;
}

.selectcol input[type="radio"]:checked+label {
    background: #E6193C !important;
    color: #fff;
}

.left-side {
    border-left: 1.5px solid #000;
    border-top: 1.5px solid #000;
    border-bottom: 1.5px solid #000;
    border-radius: 20px 0 0 20px;
}

.right-side {
    border-right: 1.5px solid #000;
    border-top: 1.5px solid #000;
    border-bottom: 1.5px solid #000;
    border-radius: 0px 20px 20px 0px;
}

.price-details p {
    margin-bottom: 0px;
}

.price-details {
    cursor: pointer;
}

.price-details-active {
    background: #ffe8ea;
}

p.person {
    font-weight: 700;
    font-size: 18px;
}

p.amout {
    font-size: 22px;
    font-weight: 800;
}

p.amout del {
    font-weight: 500;
}

.sub-tag {
    margin-bottom: 0px;
    font-weight: 600;
}

.offer-details .btn {
    font-size: 22px;
    font-weight: 700;
    border-radius: 50px;
    padding: 3px 20px;
    background: #E6193C !important;
}

.optin-list p {
    margin-bottom: 0px;
}

.optin-list {
    padding: 15px 10px;
}

.start .btn {
    box-shadow: 5px 5px 0px 0px #000000;
    background: #694191;
    padding: 11px 50px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 50px;
    margin-bottom: 20px;
    text-transform: uppercase;
    border: none;
}

.start .btn:hover {
    background: #F0A0C3;
}

.autoship {
    padding: 20px;
    border: 1.5px solid #000;
    border-radius: 20px;
    margin-top: 10px;
    box-shadow: 5px 5px 0px 0px #002613FF;
}

.try-once {
    padding: 20px;
    border: 1.5px solid #000;
    border-radius: 20px;
    margin-top: 20px;
}

.close-div p {
    margin-bottom: 0px;
}

.close-div .start {
    margin-top: 20px;
}

.sec-1 {
    text-align: center;
}

.sec-1 p {
    margin-bottom: 0px;
    margin-top: 10px;
    font-weight: 700;
    text-transform: uppercase;
}

.sec-1 img {
    width: 80px;
    height: 80px;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: url(desaturate.svg#greyscale);
    filter: gray;
    -webkit-filter: grayscale(1);
}

.icon-square img {
    width: 50px;
}

.tastelike {
    margin-top: 30px;
}

.tastelike h3 {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
}

.vg-opt .col p {
    margin-bottom: 0px;
    font-size: 18px;
}

.vg-opt {
    position: relative;
}

.vg-opt:hover .og-hoer {
    opacity: 1
}

.og-hoer {
    border: 1px solid #E0E0E0FF;
    position: absolute;
    width: 100%;
    box-shadow: 0px 4px 4px 0px #00000040;
    top: 55px;
    padding: 20px 15px;
    border-radius: 10px;
    opacity: 0;
    background: #fff;
    z-index: 3
}

.og-hoer p {
    margin-bottom: 0px;
}

.veggies {
    margin-top: 40px;
}

/* Choose Your Offer */
.bag-choese {
    margin-bottom: 30px;
    position: relative;
    cursor: pointer;
    transition: transform .6s;
    /* Animation */
}

.bag-choese:hover {
    transform: scale(1.05);
    background: #fffdeb;
    /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.popular-tags {
    background: #e6193c;
    text-emphasis: none;
    text-align: center;
    color: #fff;
    padding: 3px 15px;
    margin-bottom: 0px;
    position: absolute;
    left: 50%;
    top: -6px;
    border-radius: 8px;
    font-size: 16px;
    transform: translate(-50%, -50%);
}

.yomz-bag-1 .popular-tags {
    background: #ff5a76;
    color: #fff;
}

.yomz-bag-1 {
    border: 2px solid #196580;
    border-radius: 10px;
}

.yomz-bag-2 .popular-tags {
    background: #ff5a76;
    color: #fff;
}

.yomz-bag-2 {
    border: 2px solid #1f94bd;
    border-radius: 10px;
}

.yomz-bag-2 .produt-title {
    background: #1f94bd;
}

.yomz-bag-3 .popular-tags {
    background: #ff5a76;
    color: #fff;
}

.yomz-bag-3 {
    border: 2px solid #65a2b7;
    border-radius: 10px;
}

.yomz-bag-3 .produt-title {
    background: #65a2b7;
}

.products-cost-item {
    padding: 10px;
}

.produt-title {
    display: flex;
    gap: 10px;
    align-items: center;
    background: #196580;
    justify-content: center;
    padding: 8px 0px 4px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.produt-title h3 {
    text-transform: uppercase;
    font-size: 32px;
    color: #fff;
    font-weight: 700 !important;
    font-family: 'Century Gothic';
    margin-bottom: 0px;
}

.produt-title h4 {
    text-transform: capitalize;
    font-size: 15px;
    color: #fff;
    margin-top: 0px;
    font-weight: 700 !important;
    margin-bottom: 0px;
}

.del-price {
    color: #808080;
    display: block;
    text-align: center;
    font-size: 22px;
    font-weight: 700 !important;
    line-height: calc(0px + 1vw) !important;
    /* margin-top: 20px; */
}

.yomz-bag-1 span.price.pricea {
    color: #196580;
}

.yomz-bag-2 span.price.pricea {
    color: #196580;
}

.yomz-bag-3 span.price.pricea {
    color: #65a2b7;
}

span.price.pricea {
    display: block;
    text-align: center;
    font-size: 29px;
    /* margin-bottom: 10px; */
    /* margin-top: 10px; */
    font-size: 41px;
    /* font-weight: 700 !important; */
    line-height: calc(.6em + 1vw) !important;
    letter-spacing: -1.2px;
}

.perday {
    background: #ec4f58;
    padding: 3px 13px;
    border-radius: 30px;
    font-size: 13px;
    display: inline-flex;
    color: #fff;
    margin-bottom: 8px;
}

.bounes {
    color: #196580;
}

.shippingus {
    color: #E6193C;
}

.pricetag {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 5px;
}

.buynow-btn .btn {
    background: #ffeb00;
    font-size: 26px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    margin: 10px 0 0;
    align-items: center;
    padding: 6px 10px 6px 14px;
    font-family: 'century_gothic_paneuropeanXBd';
    gap: 10px;
    border: 2px solid #d6c604;
}

.buynow-btn .btn img {
    width: 35px;
    height: 35px;
    margin-left: 0px;
}

.payment-image {
    text-align: center;
    width: 100%;
    display: block;
}

.payment-image img {
    width: 60%;
}

/* Choose Your Offer */
/*Offer-pages*/
/*review*/
.reviews-contant {
    display: flex;
    position: relative;
    min-width: auto;
    align-self: stretch;
    flex-basis: auto;
    min-height: auto;
    align-items: center;
    flex-shrink: 0;
    padding-left: 30px;
    padding-right: 30px;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 20px;
    padding-bottom: 20px;
}

.reviews {
    padding: 60px 0;
    background: #FFEB00;
}

.reviews h3 {
    text-align: center;
    font-size: 38px;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background: #E6193C;
    color: #fff !important;
}

.nav-link {
    border-radius: 20px !important;
    border: 2px solid #000;
    font-size: 18px;
    color: #000 !important;
    font-weight: 600;
}

img {
    height: 100%;
    object-fit: cover;
}

.owl-nav button {
    position: absolute;
    top: 50%;
    background-color: #000;
    color: #fff;
    margin: 0;
    transition: all 0.3s ease-in-out;
}

.video-testimonial .owl-nav button.owl-prev {
    left: 0;
}

.video-testimonial .owl-nav button.owl-next {
    right: 0;
}

.video-testimonial .owl-dots {
    text-align: center;
    padding-top: 15px;
}

.video-testimonial .owl-dots button.owl-dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    background: #ccc;
    margin: 0 3px;
}

.video-testimonial .owl-dots button.owl-dot.active {
    background-color: #000;
}

.video-testimonial .owl-dots button.owl-dot:focus {
    outline: none;
}

.video-testimonial .owl-nav button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.38) !important;
}

.video-testimonial .owl-nav button:focus {
    outline: none;
}

.video-testimonial .item {
    width: 100%;
}

.video-testimonial .controls button {
    border: none;
    background: none;
    padding: 0px;
}

.video-testimonial .controls {
    /*position: absolute;
z-index: 2;
bottom: 30px;
left: 10px;*/
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
}

.video-pop .controls button {
    border: none;
    background: none;
    padding: 0px;
}

.video-pop .controls {
    /*position: absolute;
z-index: 2;
bottom: 30px;
left: 10px;*/
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
}

.modal-header button {
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 333;
    width: 32px;
    height: 32px;
    background: #000 url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' stroke='%23ffffff' fill='none' stroke-width='2'%3e%3cpath stroke-linecap='round' stroke-linejoin='round' d='M6 18L18 6M6 6l12 12' /%3e%3c/svg%3e") no-repeat center center;
    background-size: 70%;
    border: 1px solid #000;
    border-radius: 50%;
    cursor: pointer;
    opacity: 1;
}

.modal-body.video-pop {
    padding: 5px;
}

.modal-header {
    padding: 0px;
}

.video-fullscreen {
    position: absolute;
    bottom: 5%;
    right: -3%;
    z-index: 2;
    background: #FFEB00;
    padding: 10px;
    transform: translate(-50%, -0%);
    border-radius: 70px;
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    color: #000000;
}

.video-testimonial video {
    width: 100%;
    border-radius: 30px;
    overflow: hidden;
}

.video-testimonial .controls img {
    max-width: 40px;
}

.video-container {
    position: relative;
}

.video-right-date .left {
    border: 2px solid #ffca12;
    border-radius: 8px;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: -2px;
    line-height: 1;
    color: #000;
    display: block;
    padding: 7px;
    text-align: center;
    width: 90px;
}

.video-right-content {
    padding: 50px 40px;
}

.video-right-content h3 {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 24px;
    margin-bottom: 40px;
}

.video-right-date .right h4 {
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 0px;
    text-transform: uppercase;
}

.video-right-date .right p {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 0px;
}

.video-container Video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* optional: makes the video fill the area nicely */
}

/*Reviews*/
/********** Thank You **********/
.thanks-image {
    display: block;
    width: 60%;
    margin: 0px auto 60px;
}

.thanks-data {
    padding: 60px 0px;
}

.ssl img {
    width: 31%;
    margin-bottom: 10px;
}

.manage-footersec p {
    font-size: 12px;
    color: #444444;
}

.ssl {
    margin-top: 60px;
    margin-bottom: 30px;
}

.manage-footersec p {
    margin-bottom: 0px;
}

.manage-footersec .icon-square img {
    width: 90px;
}

/********** Thank You **********/
/* Reviews Page */
.custumerreviews {
    padding: 60px 0 80px;
}

.reviews-deatils .star-icons {
    margin-bottom: 15px;
}

.reviews-banner {
    padding: 200px 0;
    background-color: #FFEB00;
}

.reviews-baar .progress {
    height: 10px;
}

.reviews-baar .progress-bar {
    background: #1eb9f0;
}

.bar {
    position: relative;
    margin-bottom: 10px;
}

.bar .progress {
    margin-left: 20px;
    border-radius: 3px;
}

.bar .nm-text {
    position: absolute;
    top: -5px;
    font-size: 16px;
}

p.reviewtime {
    text-align: right;
    font-size: 14px;
}

.reviews-count {
    text-align: center;
}

.reviews-count span {
    font-size: 13px;
}

.reviews-count p {
    font-size: 58px;
    margin-bottom: 0px;
}

.star-icons .fas {
    color: #ffbf00;
}

.custumerreviews h3 {
    font-size: 42px;
    margin-bottom: 40px;
}

p.verified svg {
    width: 17px;
    margin-top: -3px;
}

p.ver-name {
    margin-bottom: 5px;
    font-size: 16px;
}

.verified {
    margin-bottom: 0px;
    font-size: 16px;
}

.reviews-parsone .icon-square img {
    border-radius: 150px;
}

.recommen .fas {
    color: #E6193C;
}

.review-section {
    padding: 40px 0 0px;
    border-top: 1px solid #e2e2e2;
    margin-top: 30px;
}

/* Reviews Page */
.sufficient .btn {
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 10px;
    text-transform: uppercase;
    margin-bottom: 0px;
}

.sufficient h3 {
    font-size: 38px !important;
    text-transform: uppercase;
}

.sufficient {
    padding: 50px 0;
    background: #fdf800;
}

.them {
    padding: 80px 0;
}

.them h3 {
    font-size: 38px;
}

.olympians {
    padding: 80px 0;
}

.olympians h3 {
    font-size: 38px !important;
    text-align: center;
    margin-bottom: 40px;
    text-transform: uppercase;
}

.red-color {
    color: #E6193C;
}

.red-color strong {
    -webkit-text-stroke: 0.5px #E6193C;
}

.olympians-details p {
    margin-bottom: 5px;
    line-height: normal;
}

.olympians-details img {
    margin-bottom: 10px;
    border-radius: 10px;
}

.smtext {
    font-size: 14px;
}

.faqs {
    padding: 50px 0;
    background: #f5f5f5;
}

.faqs button.accordion-button {
    background: none !important;
    font-size: 22px;
    text-transform: uppercase;
}

.faqs .accordion-button:not(.collapsed) {
    color: #000;
}

button.accordion-button {
    background: none !important;
    border-bottom: 1px solid #000000;
}

.faqs .accordion-body {
    background: none !important;
}

.faqs .btn {
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 10px;
    text-transform: uppercase;
    margin-bottom: 0px;
}

.faqs .accordion-item {
    background: none !important;
    border: none !important;
}

/* Cancel Subscription */
.cancel {
    padding: 60px 0;
}

.cancel p {
    margin-bottom: 30px;
}

.form-set .btn {
    background: #e6193c;
    color: #fff;
    border: none;
    font-size: 22px;
    text-transform: uppercase;
    padding: 10px 35px;
    font-weight: 600;
}

/* Cancel Subscription */
/*Footer*/
.ftr-infoclass span {
    font-size: 13px;
    line-height: normal;
    display: inline-block;
    color: #fff;
}

.ftr-infoclass p {
    margin-top: 10px;
    color: #fff;
    font-size: 16px;
}

.footer {
    padding: 80px 0;
    background: #000;
}

.ftr-form p {
    color: #fff;
    font-weight: 600;
    font-size: 18px;
}

.ftr-form .form-control {
    height: 50px;
    border-radius: 20px;
}

.ftr-form button {
    height: 50px;
    background: #FFEB00;
    color: #000;
    font-size: 18px;
    font-weight: 600;
    border: none;
    border-radius: 20px;
}

.footer-social-media ul {
    margin: 0px;
    padding: 0px;
}

.footer-social-media li {
    display: inline-block;
}

.footer-social-media {
    margin-top: 20px;
}

.footer-social-media li a img {
    width: 30px;
}

.footer-list p {
    color: #fff;
    font-weight: 800;
}

.footer-list ul {
    margin: 0px;
    color: #fff;
    padding: 0;
}

.footer-list ul li {
    list-style: none;
}

.footer-list li a {
    color: #fff;
    text-decoration: none;
}

.lastfooter {
    margin-top: 50px;
}

/*Fotoer*/
/* Cancel Subscription */
.cancel-subscription {
    padding: 60px 0;
}

.form-set {
    position: relative;
    transition: box-shadow .25s, -webkit-box-shadow .25s;
    border-radius: 2px;
}

.form-set p {
    text-align: center;
}

.box-align {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form-floating {
    position: relative;
}

.submit-align {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    button {
        width: fit-content;
    }
}

.successfull-message {
    margin: 12px 0px 0px 0px;
    color: green;
    font-weight: 700;
}

.box-align {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.error-message {
    color: #e6193b;
    font-size: 14px;
    padding-left: 4px;
}

/* Cancel Subscription */
.comman-pd {
    padding: 60px 0;
}

.webverion {
    display: initial;
}

.mobile-varsrion {
    display: none;
}

@media screen and (max-width:1403px) {
    .offerpage .container {
        width: 90%;
        max-width: 90%;
    }

    .wdcd {
        width: 98%;
        max-width: 98%;
    }
}

@media screen and (max-width:1236px) {
    .offerpage .container {
        width: 98%;
        max-width: 98%;
    }

    .wdcd {
        width: 98%;
        max-width: 98%;
    }
}

@media screen and (max-width:1156px) {
    .offerpage .container {
        width: 100%;
        max-width: 100%;
    }

    .wdcd {
        width: 98%;
        max-width: 98%;
    }
}

@media screen and (max-width:1098px) {
    span.price.pricea {
        font-size: 35px;
    }

    .del-price {
        font-size: 18px;
    }

    .produt-title h3 {
        font-size: 28px;
    }

    .perday {
        font-size: 11px;
    }
}

@media screen and (max-width:991px) {
    .wd-offers {
        width: 60%;
        margin: 0px auto;
    }
}

@media screen and (max-width:800px) {
    .wd-offers {
        width: 70%;
        margin: 0px auto;
    }
}

@media screen and (max-width:767px) {
    .thanks-data {
        padding: 30px 0px;
    }

    .ssl {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .thanks-data .d-flex {
        display: block !important;
    }

    .ssl img {
        width: 63%;
        margin-bottom: 10px;
    }

    .manage-footersec .me-3 {
        margin-right: 0rem !important;
        margin-bottom: 20px !important;
    }

    .manage-footersec img {
        width: 23%;
    }

    .thanks-image {
        display: block;
        width: 100%;
        margin: 0px auto 30px;
    }

    .faq input:checked~.answer {
        max-height: 450px;
        padding: 10px 10px 20px;
    }

    .reviews-banner {
        padding: 40px 0;
    }

    .custumerreviews {
        padding: 20px 0 40px;
    }

    .comman-pd {
        padding: 30px 0;
    }

    .cancel-subscription {
        padding: 30px 0;
    }

    .form-set {
        padding: 10px;
        box-shadow: none;
    }

    .wd-offers {
        width: 100%;
        margin: 0px auto;
        padding-left: 0px;
        padding-right: 0px;
    }

    .productsimage img {
        width: 250px;
        margin: 0px auto;
        display: block;
    }

    .prodt-cost-item {
        text-align: center;
    }

    .pricetag {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 5px;
        justify-content: center;
        margin-top: 20px;
    }

    .payment-image img {
        max-width: 100%;
        width: 90%;
    }

    .cancel {
        padding: 20px 0 30px;
    }

    .inner-banners {
        padding: 48px 0px 48px 0px !important;
    }

    .ftr-infoclass p {
        font-size: 14px;
    }

    .toaster {
        width: 300px;
        box-shadow: -1px 2px 4px gray;
        left: 40px;

        .toaster-success {
            font-weight: 600;
            margin-bottom: 0px;
        }

        .toaster-text {
            font-size: 12px !important;
            margin-bottom: 0px;
        }

        .toaster-cross {
            cursor: pointer;
        }
    }

    .sugarFreeBox {
        padding: 20px 10px;
    }

    .sec-1 img {
        width: 60px;
        height: 60px;
    }

    .tastelike .gap-5 {
        gap: 2rem !important;
    }

    .offerpage .justify-content-center.align-items-center {
        display: block !important;
    }

    .autoship {
        padding: 20px 10px;
    }

    .inner-option {
        border-radius: 20px;
        border: 1px solid #000;
        padding: 11px 10px 10px;
        cursor: pointer;
    }

    .offer-details .btn {
        font-size: 15px;
    }

    .reviews {
        padding: 20px 0;
    }

    .owl-prev {
        display: none;
    }

    .owl-next {
        display: none;
    }

    .them {
        padding: 20px 0;
        text-align: center;
    }

    .transform h3 {
        font-size: 28px;
    }

    .leaves h3 {
        font-size: 28px;
    }

    .them h3 {
        font-size: 28px;
    }

    .sufficient h3 {
        font-size: 28px !important;
    }

    .offerpage h3 {
        font-size: 38px;
        margin-bottom: 40px !important;
    }

    .reviews h3 {
        font-size: 24px;
    }

    .tabs-reviewws ul {
        display: inline-block;
    }

    /* .tabs-reviewws ul li {
        width: 47%;
        float: left !important;
        display: inline-block !important;
        margin-bottom: 10px;
        margin-right: 10px;
    } */
    .tabs-reviewws ul li {
        width: 47%;
        float: left;
        margin-bottom: 10px;
        margin-right: 10px;
    }

    .olympians {
        padding: 30px 0;
    }

    .olympians h3 {
        font-size: 28px !important;
    }

    .olympians-details {
        margin-bottom: 30px;
    }

    .start {
        text-align: center;
        margin-bottom: 30px;
    }

    .footer {
        padding: 40px 0 20px;
        background: #000;
    }

    .footer-social-media {
        margin-bottom: 20px;
    }

    .footer-list {
        margin-bottom: 20px;
    }

    .lastfooter {
        margin-top: 20px;
    }

    .lastfooter img {
        width: 250px;
    }

    .lastfooter img {
        width: 170px;
    }

    .row.lastfooter {
        text-align: left;
    }

    .ftr-infoclass p {
        text-align: center;
    }

    .faqs h3 {
        text-align: center;
        font-size: 30px;
    }

    .manage-top-baar {
        text-align: center;
    }

    .transform {
        padding: 30px 0;
    }

    .leaves {
        padding: 20px 0px 20px 0px;
    }

    .offerpage {
        padding: 20px 5px;
    }

    .top-header {
        font-size: 12px;
        word-spacing: 0px;
        padding: 5px 0px !important;
    }

    .logo img {
        width: 100px;
        margin-top: 10px;
    }

    .banner {
        padding: 18px 0px 28px 0px;
    }

    .col-md-5.mainsec {
        text-align: center;
    }

    .main-head {
        font-size: 14px;
        margin: 2px 0px 0px 0px;
    }

    .mainsec h2 {
        font-size: 33px;
        letter-spacing: 0px;
        margin-bottom: 0px;
        text-transform: uppercase;
        line-height: normal;
    }

    .col-md-5.mainsec ul {
        display: block !important;
    }

    .logo {
        text-align: left !important;
    }

    .sticky-top {
        background: #1EB9F0;
        padding: 0px 0 10px;
    }

    .header .shop-btn {
        background: none;
        border: 1px solid #ffeb00;
        border-radius: 20px;
        color: #000000;
        font-size: 10px;
        padding: 4px 8px 4px 8px;
        margin: 0px 0px 0px 0px;
        background: #ffeb00;
        font-weight: 900;
    }

    .webverion {
        display: none;
    }

    .mobile-varsrion {
        display: initial;
        margin-top: 50px;
    }

    ul.list-unstyled.forth-ul.d-flex {
        display: block !important;
    }

    ul.list-unstyled.for-last.d-flex.justify-content-center.mt-4 {
        display: block !important;
    }

    .start .btn {
        font-size: 14px;
    }
}

@media screen and (max-width:540px) {
    .pricetag {
        display: block;
    }

    span.price.pricea {
        font-size: 58px;
        margin-top: 11px;
        font-size: calc(12vw - 0px) !important;
        line-height: calc(0.8em + 1vw) !important;
    }

    .pricetag {
        margin-top: 10px;
    }

    .del-price {
        font-size: 28px;
        line-height: normal !important;
        line-height: calc(0.0em + 1vw) !important;
        margin-top: 10px;
        font-size: calc(5.6vw - 0px) !important;
    }

    .buynow-btn .btn {
        font-size: 22px;
        padding: 8px 10px 8px 14px;
        font-size: calc(5.2vw - 0px) !important;
        line-height: calc(0.8em + 1vw) !important;
    }

    .produt-title {
        padding: 3px 0px 5px
    }

    .produt-title h3 {
        text-align: center;
    }

    .produt-title h4 {
        text-align: center;
        margin-top: 0px !important;
    }

    .produt-title h3 {
        text-align: center;
        font-size: 34px;
        padding-top: 5px;
        margin-bottom: 0px !important;
    }

    .popular-tags {
        font-size: 14px;
    }

    .sec-1 p {
        margin-bottom: 0px;
        margin-top: 10px;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 12px;
    }

    .buynow-btn .btn img {
        width: 30px;
        height: 30px;
        margin-left: 0px;
    }

    .perday {
        font-size: 12px;
        margin-top: 4px;
    }

    .productsimage img {
        width: 100%;
        margin: 0px auto;
        display: block;
    }

    .products-cost-item {
        padding: 10px 5px;
    }

    .gab-1 {
        padding-right: 5px !important;
    }

    .gab-2 {
        padding-left: 5px !important;
    }

    .prodt-cost-item p {
        margin-bottom: 3px !important;
        font-size: calc(4.2vw - 0px) !important;
        line-height: calc(0.8em + 1vw) !important;
        text-align: left;
    }
}